.matches-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 150px;
  gap: 1rem;
}

.matches-wrapper__tile {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: background-color 125ms ease-in;
  text-decoration: none;
}

.matches-wrapper__tile:hover {
  background-color: rgb(15, 15, 15);
}

.status {
  display: inline-block;
  border-radius: 5px;
  padding: .2rem .4rem;
  font-weight: bold;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-top: auto;
}

.status--red {
  background-image: linear-gradient(to top, #fc003f 0%, #e47373 100%);
}

.status--green {
  background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);
}

.status--blue {
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}
