<ng-container *ngIf="data$ | async as data; else loading">
  <h1>League: {{ data.competition.name }}</h1>
  <p>Select a match to inspect.</p>
  <div class="matches-wrapper">
    <a
      class="matches-wrapper__tile"
      *ngFor="let match of data.matches"
      [routerLink]="['/competitions', data.competition.id, 'matches', match.id]"
    >
      <div>{{ match.homeTeam.name }} vs {{ match.awayTeam.name }}</div>

      <h2 *ngIf="match.score.winner">
        {{ match.score.fullTime.homeTeam }} -
        {{ match.score.fullTime.awayTeam }}
      </h2>

      <div
        class="status"
        [ngClass]="{
          'status--red':
            match.status === 'FINISHED' ||
            match.status === 'POSTPONED' ||
            match.status === 'CANCELLED',
          'status--blue': match.status === 'SCHEDULED',
          'status--green':
            match.status === 'IN_PLAY' || match.status === 'PAUSED'
        }"
      >
        {{ match.status }}
      </div>
    </a>
  </div>
</ng-container>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
