:host {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 2rem 0;
}

main {
  flex: 1 1 auto;
}

footer {
  padding: 1rem 0;
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  :host {
    padding: 0 2rem;
  }
}
